<h1> Welcome#Sample</h1>
<p> Here</p>
<%= "Message from controller :
#{@controller_message}" %>

<%= link_to("Go to Index", {:controller => 'welcome', :action => 'index', :id => 5, :random=>"Zack"}) %>
